[run]
branch = True
omit =
  */migrations/*
  */tests.py
  */venv/*
  */manage.py
  */settings.py
  */wsgi.py
  */asgi.py
  */urls.py
  */apps.py
  */__init__.py

[report]
show_missing = True
skip_covered = False
fail_under = 85