<div class="panel-head">
    <h2>{{ book.title }}</h2>
    {% if book.author %}<div class="by">{{ book.author }}</div>{% endif %}
    <div class="meta">{{ quotes|length }} passage{{ quotes|length|pluralize }}</div>
</div>

<ol class="passages">
    {% for quote in quotes %}
    <li id="q{{ quote.id }}">
        <span class="pg">{{ quote.page_number|default_if_none:"" }}</span>
        <div>
            <p>{{ quote.quote }}</p>
            {% include 'quotes/partials/passage_actions.html' %}
        </div>
    </li>
    {% endfor %}
</ol>
