<h1>Create a new quote</h1>
<form method="post" action="{% url 'quotes:quote_create' %}">
  {% csrf_token %}
  <h2>Book</h2>
  <h3>Select a pre-existing book</h3>
  <label for="book_id">Select a book</label>
  <select name="book">
    {% for book in books %}
    <option value="{{book.id}}">{{book.title}}</option>
    {% endfor %}
  </select>
  <br />
  <h3>Or create a new book</h3>
  <label for="title">Title</label>
  <input type="text" name="title" placeholder="Title" />
  <br />
  <label for="author">Author</label>
  <input type="text" name="author" placeholder="Author" />
  <br />
  <h2>Quote</h2>
  <label for="quote">Quote</label>
  <input type="text" name="quote" placeholder="Quote" required />
  <br />
  <h2>Page number</h2>
  <label for="page_number">Page number</label>
  <input type="number" name="page_number" placeholder="Page number" required />
  <br />
  <button type="submit">Create</button>
</form>
